html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	min-width: 250px;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
html {
	box-sizing: border-box;
}
hr {
	border: 0;
	height: 2px;
	background-color: #ccc;
	margin: 12px 0;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
	line-height: 1.4;
}

.container {
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
	color: #333;
	height: 90vh;
	margin-top: 5vh;
	margin-bottom: 5vh;
	overflow-y: auto;
}

.app-title {
	text-align: center;
	margin-bottom: 20px;
	font-size: 80px;
	opacity: 0.5;
}

svg {
	width: 64px;
	height: 64px;
}

.loading-data {
	width: 100%;
	max-width: 500px;
	margin: auto;
	text-align: center;
	margin-top: 5vh;
	font-size: 1.5rem;
}

.todo-list {
	list-style: none;
	margin: 20px 0;
}

.todo-item {
	margin-bottom: 10px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.todo-item span {
	flex-grow: 1;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 22px;
}

.done span {
	text-decoration: line-through;
}

input[type='checkbox'] {
	display: none;
}

.tick {
	width: 30px;
	height: 30px;
	border: 3px solid #333;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.tick::before {
	content: '✓';
	font-size: 20px;
	display: none;
}

.done .tick::before {
	display: inline;
}

.delete-todo {
	border: none;
	background-color: transparent;
	outline: none;
	cursor: pointer;
}

.delete-todo svg {
	width: 30px;
	height: 30px;
	pointer-events: none;
}

form {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 0.25rem;
}
form input {
	margin: 8px 0;
}

form div {
	width: 100%;
	display: flex;
	gap: 1rem;
}

form div .form-button {
	width: 100%;
	height: 50px;
	border: none;
	background-color: #333;
	color: #fff;
	font-size: 22px;
	cursor: pointer;
}
form div .form-filter {
	background-color: #33a260 !important;
}
form div .form-clear {
	background-color: #e74c3c !important;
}

input[type='text'] {
	width: 100%;
	padding: 10px;
	border-radius: 4px;
	border: 3px solid #333;
}

/* Add this below all the other styles */

.empty-state {
	flex-direction: column;
	align-items: center;
	justify-content: center;
	display: none;
}

.checklist-icon {
	margin-bottom: 20px;
}

.empty-state__title,
.empty-state__description {
	margin-bottom: 20px;
}

/* Add this below the other styles */
.todo-list:empty {
	display: none;
}

.todo-list:empty + .empty-state {
	display: flex;
}
